[DEFAULT]
host = {{ node.fqdn }}

[securitygroup]
firewall_driver = noop

[sriov_nic]
{%- if network.sriov_nic_physical_device_mappings is defined %}
physical_device_mappings = {{ network.sriov_nic_physical_device_mappings }}
{% endif -%}
exclude_devices = {{ network.sriov_nic_exclude_devices }}
