create_certs_tool = {{ snap }}/usr/bin/swtpm_localca
create_certs_tool_config = {{ snap_common }}/etc/swtpm/swtpm-localca.conf
create_certs_tool_options = {{ snap_common }}/etc/swtpm/swtpm-localca.options
