statedir = {{ snap_data }}/var/lib/swtpm-localca
signingkey = {{ snap_data }}/var/lib/swtpm-localca/signkey.pem
issuercert = {{ snap_data }}/var/lib/swtpm-localca/issuercert.pem
certserial = {{ snap_data }}/var/lib/swtpm-localca/certserial
